.projects_wrapper {
  gap: 2rem;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  color: rgba(156, 163, 175, 1);
}

.view_more_container {
  bottom: 0;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  transform: translateY(50%);
}

.view_more_container button {
  border: none;
  cursor: pointer;
  width: fit-content;
  padding: 14px 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.projects_wrapper h3 {
  align-self: start;
}

.projects_wrapper h5 {
  font-size: 1em;
  border-bottom: #e5e7eb 1px solid;
}

.projects_list {
  color: black;
  display: grid;
  gap: 24px;
  overflow: hidden;
  transition: all 0.25s;
}

.projects_list > li {
  gap: 32px;
  display: grid;
  align-items: center;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 0.75rem;
  border-radius: 5px;
  margin-top: 0.75rem;
}

.projects_list > li > figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projects_list > li > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail {
  display: grid;
  gap: 20px;
}

.detail > h2 {
  font-size: xx-large;
  text-transform: capitalize;
}

.detail > blockquote {
  color: rgba(156, 163, 175, 1);
}

.detail > div > a {
  text-align: center;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 4px;
  color: rgba(156, 163, 175, 1);
  border: rgba(156, 163, 175, 1) solid 1px;
  transition: all 0.25s;
}

.detail > div > a:hover {
  background-color: #0000000a;
}

@media (min-width: 1023px) {
  .projects_list > li {
    height: 274px;
  }

  .projects_list > li {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 48px;
  }

  .rev {
    direction: rtl;
  }
}
