.main {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 6rem;
  margin: auto;
  max-width: 1250px;
  padding-right: 8rem;
  padding-left: 8rem;
  min-height: 100vh;
}

.hero {
  align-items: center;
  display: flex;
}

.hero p {
  color: rgba(115,115,115,1);
  padding-top: 2px;
  padding-bottom: 2px;
}

.hero a {
  border-bottom: solid rgba(115,115,115,1) 2px;
}

.hero a:hover {
  border-bottom: solid rgba(115,115,115,.75) 2px;
}

.image_wrapper {
  min-width: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.tech_wrapper {
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
}

.tech_wrapper h3 {
  color: rgba(156,163,175,1);
}

.tech_wrapper h5 {
  color: rgba(156,163,175,1);
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-bottom: 1rem;
  border-bottom: #e5e7eb 1px solid;
}

.btn_container {
  gap: 1rem;
  display: flex;
  padding: 0.75rem;
  margin-top: .75rem;
  background: rgba(243,244,246,1);
}

.button_wrapper {
  display: grid;
  gap: .75rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.button_wrapper svg {
  width: 1.25rem;
  height: 1.25rem;
}

/* FOR MOBILE AND TABLETS */
@media (max-width: 1023px) {
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero {
    text-align: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .button_wrapper {
    grid-template-columns: 1fr;
  }
}