.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 1250px;
  min-height: 100vh;
  padding-top: 0rem;
  padding-top: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 2rem;
}

/* FOR MOBILE AND TABLETS */
@media (max-width: 1023px) {
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
