.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 1250px;
  min-height: 100vh;
  padding-top: 0rem;
  padding-top: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 2rem;
}

.hero {
  align-items: center;
  display: flex;
}

.hero > div {
  display: flex;
  flex-direction: column;

  gap: 4px;
}

.hero p {
  padding-top: 2px;
  padding-bottom: 2px;
  color: rgba(115, 115, 115, 1);
}

.hero p span {
  display: flex;
  gap: 4px;
}

.hero a {
  border-bottom: solid rgba(115, 115, 115, 1) 2px;
}

.hero a:hover {
  border-bottom: solid rgba(115, 115, 115, 0.75) 2px;
}

.image_wrapper {
  min-width: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.image_wrapper img {
  object-fit: cover;
}

.tech_wrapper {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.tech_wrapper h3 {
  color: rgba(156, 163, 175, 1);
}

.tech_wrapper h5 {
  color: rgba(156, 163, 175, 1);
  font-size: 1em;
  border-bottom: #e5e7eb 1px solid;
}

/* FOR MOBILE AND TABLETS */
@media (max-width: 1023px) {
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero {
    text-align: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
